<?xml version="1.0"?>
<config>
    <modules>
        <Queueit_Knownuser>
            <version>1.0.1</version>
        </Queueit_Knownuser>
    </modules>
    <global>
        <blocks>
            <queueit_knownuser>
                <class>Queueit_Knownuser_Block</class>
            </queueit_knownuser>
        </blocks>
        <helpers>
            <queueit_knownuser>
                <class>Queueit_Knownuser_Helper</class>
            </queueit_knownuser>
        </helpers>
        <models>
            <queueit_knownuser>
                <class>Queueit_Knownuser_Model</class>
                <resourceModel>queueit_knownuser_resource</resourceModel>
            </queueit_knownuser>
            <queueit_knownuser_resource>
                <class>Queueit_Knownuser_Model_Resource</class>
                <entities>
                    <integrationinfo>
                        <table>queueit_integrationinfo</table>
                    </integrationinfo>
                </entities>
            </queueit_knownuser_resource>
        </models>
        <resources>
            <queueit_knownuser_setup>
                <setup>
                    <module>Queueit_Knownuser</module>
                </setup>
            </queueit_knownuser_setup>
        </resources>
        <cache>
            <types>
                <queueit translate="label,description" module="queueit_knownuser">
                    <label>QueueIt KnownUser</label>
                    <description>KnownUser information cache</description>
                    <tags>QUEUEIT_CACHE</tags>
                </queueit>
            </types>
        </cache>
    </global>
    <frontend>
        <routers>
            <knownuser>
                <use>standard</use>
                <args>
                    <frontName>knownuser</frontName>
                    <module>Queueit_Knownuser</module>
                </args>
            </knownuser>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <queueit_knownuser>
                        <type>singleton</type>
                        <class>queueit_knownuser/observer</class>
                        <method>controllerActionPredispatch</method>
                    </queueit_knownuser>
                </observers>
            </controller_action_predispatch>
            <checkout_onepage_controller_success_action>
                <observers>
                    <queueit_knownuser>
                        <type>singleton</type>
                        <class>queueit_knownuser/observer</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </queueit_knownuser>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <queueit_config_updater>
                <schedule>
                    <config_path>queueit_knownuser/general/update_cron</config_path>
                </schedule>
                <run>
                    <model>queueit_knownuser/observer::updateConfig</model>
                </run>
            </queueit_config_updater>
        </jobs>
    </crontab>
    <default>
        <queueit_knownuser>
            <general>
                <secretkey backend_model="adminhtml/system_config_backend_encrypted"/>
                <update_config>0</update_config>
                <update_cron>*/15 * * * *</update_cron>
                <valid_post>#msp/.*#</valid_post>
                <valid_get>#knownuser/integrationinfo/.*#</valid_get>
            </general>
        </queueit_knownuser>
    </default>
</config>
